* {
    box-sizing: border-box;
}
.horizontal {
    display: flex;
    flex-direction: row;
}

.horizontal_item {
    flex: 1;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.vertical_item {
    flex: 1;
}

.label {
    margin: .5rem;
}